body{
    height: 820px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: conic-gradient(from 175deg at 50% 50%, #BF0603 -48.6deg, #001427 136.24deg, #BF0603 311.4deg, #001427 496.24deg);
}

#body_text{
    display: flex;
    #left{
        display: flex;
        text-align: left;
        position: absolute;
        top: 200px;
        
    }
    #right{
        display:flex;
        text-align: right;
        position: absolute;
        top: 500px;
        
    }
    #left , #right{
        font-family: Arimo;
        font-weight: 700;
        font-size: 24px;
        line-height: 27.6px;
        margin: 40px;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        text-shadow: 2px 2px 4px #000000;
        
    }
    
}
h1{
    text-align: center;
    margin: 0 auto;
    // margin-top: 100px;
    margin-bottom: 80px;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;
    position: fixed;
    top: 20px;
}
img{
    width: 100%;
}
#about_me, #portfolio{
    position: absolute;
    top: 250px;
    color: #f4d58d;
}

#contacts{
    background-color:  #001427; 
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 0px;
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        
        a{
            text-decoration: none;
            color: aliceblue;
        }
    }
}
.profile1{
    width: 300px;
    height: 200px;
    margin: auto;
    margin-top: 150px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px white inset;
    
}
.back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.backArrow{
    font-size: 48px;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;
    position:fixed;
    top: 15px;
    left: 50px;
}



