body {
  height: 820px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: conic-gradient(from 175deg at 50% 50%, #BF0603 -48.6deg, #001427 136.24deg, #BF0603 311.4deg, #001427 496.24deg);
}

#body_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#body_text #left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  position: absolute;
  top: 100px;
}

#body_text #right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  position: absolute;
  top: 350px;
}

#body_text #left, #body_text #right {
  font-family: Arimo;
  font-weight: 700;
  font-size: 24px;
  line-height: 27.6px;
  margin: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
}

h1 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
  position: fixed;
  top: 20px;
}

img {
  width: 100%;
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about {
  color: #f4d58d;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

#portfolio {
  color: #f4d58d;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

#portfolio:hover {
  font-size: 36px;
  color: aliceblue;
}

#about:hover {
  color: aliceblue;
  font-size: 36px;
}

#contacts {
  background-color: #001427;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 0px;
}

#contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

#contacts ul a {
  text-decoration: none;
  color: aliceblue;
}

#contacts .out {
  font-size: 22px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#contacts .out:hover {
  font-size: 40px;
  text-shadow: 4px 4px 5px #ad0c0c;
}

.profile1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profilePic {
  width: 300px;
  height: 533px;
  margin: auto;
  margin-top: 150px;
  /* you need to match the shadow color to your background or image border for the desired effect*/
  border: solid 1.5em rgba(243, 241, 241, 0.411);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 2px 2px 17px rgba(0, 0, 0, 0.35), 2px 2px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 2px 2px 17px rgba(0, 0, 0, 0.35), 2px 2px 25px rgba(0, 0, 0, 0.5);
}

.aboutP {
  width: 40%;
  margin-top: 150px;
  margin-right: 100px;
  font-family: Arimo;
  font-weight: 700;
  font-size: 24px;
  line-height: 37.6px;
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backArrow {
  font-size: 48px;
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
  position: fixed;
  top: 15px;
  left: 50px;
}
/*# sourceMappingURL=style.css.map */