

body{
    height: 820px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: conic-gradient(from 175deg at 50% 50%, #BF0603 -48.6deg, #001427 136.24deg, #BF0603 311.4deg, #001427 496.24deg);
}

#body_text{
    display: flex;
    #left{
        display: flex;
        text-align: left;
        position: absolute;
        top: 100px;
        
    }
    #right{
        display:flex;
        text-align: right;
        position: absolute;
        top: 350px;
        
    }
    #left , #right{
        font-family: Arimo;
        font-weight: 700;
        font-size: 24px;
        line-height: 27.6px;
        margin: 40px;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        text-shadow: 2px 2px 4px #000000;
        
    }
    
};

h1{
    text-align: center;
    margin: 0 auto;
    // margin-top: 100px;
    margin-bottom: 80px;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;
    position: fixed;
    top: 20px;
};

img{
    width: 100%;
};
.group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about{
    // position: absolute;
    // top: 300px;
    color: #f4d58d;
    text-decoration: none;
    transition: all 0.4s ease-in;
};

 #portfolio{
    // position: absolute;
    // top: 250px;
    color: #f4d58d;
    text-decoration: none;
    transition: all 0.4s ease-out;
};

#portfolio:hover{
    font-size: 36px;
    color:aliceblue;
}
#about:hover{
    color:aliceblue;
    font-size: 36px;
}


// Footer CSS
#contacts{
    background-color:  #001427; 
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 0px;
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        
        a{
            text-decoration: none;
            color: aliceblue;
        }
    }

    .out{
        font-size: 22px;
        transition: all 0.2s ease-in;
    }
    .out:hover{
        font-size: 40px;
        text-shadow: 4px 4px 5px rgb(173, 12, 12);
    }
}

// About Me CSS
.profile1{
    display: flex;
    flex-direction: row;
}
.profilePic{
    width: 300px;
    height: 533px;
    margin: auto;
    margin-top: 150px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    border: solid 1.5em rgba(243, 241, 241, 0.411);
    box-shadow: 2px 2px 5px rgba(#000, .2), 2px 2px 17px rgba(#000, .35), 2px 2px 25px rgba(#000, .5);
                          
}
.aboutP{
    width: 40%;
    margin-top: 150px;
    margin-right: 100px;
    font-family: Arimo;
        font-weight: 700;
        font-size: 24px;
        line-height: 37.6px;
        color: aliceblue;
        text-shadow: 2px 2px 4px #000000;
}
.back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.backArrow{
    font-size: 48px;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;
    position:fixed;
    top: 15px;
    left: 50px;
}



